body {
  background-color: #e5d6f3;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 50px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}

.container div {
  width: 30px;
  height: 30px;
  background-color: purple;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 2px 6px red;
}
